body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Hero */

.hero{
    height: 100vh;
    background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
    padding-top: 80px;
}

.hero h1{
    font-size: 55px;
    font-weight: bold;
}

.hero h3{
    font-size: 30px;
}

.hero p{
    font-size: 18px;
}

/* Profile Image */

.profile-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

/* Section Title */

.section-title{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 40px;
}

/* About */

.about-text{
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}

/* Cards */

.card{
    border: none;
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-10px);
}

/* Skills */

.skill-card{
    background-color: white;
}

.skill-card h5{
    font-weight: bold;
}

/* Projects */

.project-card img{
    height: 220px;
    object-fit: cover;
}

.project-card .card-body{
    text-align: center;
}

/* Contact */

.contact-section{
    background-color: #111;
}

.contact-section a{
    text-decoration: none;
}

.contact-section a:hover{
    color: #0dcaf0;
}

/* Navbar */

.navbar{
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}